params{
    csv = "${projectDir}/../../CrossEvoPred/out/fpkms_fasta/do3239_unk_liver_unk_hsa-hg19Homo_sapiensCRI3_CRI01_20M.tophat.cufflinks_genes.csv"
    exp_conf    = "${projectDir}/fpkm_model/fpkm.json"
    model       = "${projectDir}/fpkm_model/fpkm_dummy_model.py"
    train_conf  = "${projectDir}/fpkm_model/fpkm_dummy_model.yaml"

}